body {
  margin: 0;
  text-align: center;
  /* font-family: verdana, sans-serif; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Merriweather', serif;
  /* font-size: 2em; */
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  /* line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-color: #EAF6F6;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  /* background-color: red;
  height: 200px;
  width: 200px; */
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  /* line-height: 3; */
  padding: 20px 0 20px 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  /* line-height: 2; */
}

.skill-img1 {
  width: 18%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 18%;
  float: right;
  margin-left: 30px;
}

.my-img {
  width: 12%;
  /* margin-top: 20px; */
}

.intro {
  width: 30%;
  margin: auto;
}

.the-c {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0 20px 0;
}

.addr {
  width: 25%;
  margin: 40px auto 60px;

}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  /* font-family: Open Sans; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 15px auto 45px auto;
  background-color: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4D);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4D);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4D);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4D);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4D);
}

/* .BUTTON_OOF {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 700;
   padding: 40px;
   background-color: #66BFBF;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_OOF:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
} */
